<div class="mt-3">
  <h1>Profile</h1>
</div>

<pre>
  {
   "provider":"wsd",
   "id":"1c590968-54ce-44e8-bc85-79bf7ff181ad",
   "emails":[
      {
         "value":"codingtest@wallstreetdocs.com",
         "type":"default"
      }
   ],
   "user_type_id":4,
   "user_type":"Org User",
   "roles":[

   ],
   "scopes":"email profile",
   "organisation_id":1,
   "organisation_name":"WallStreetDocs Ltd",
   "organisation":{
      "id":1,
      "name":"WallStreetDocs Ltd"
   },
   "display_name":"Coding Test",
   "name":{
      "family_name":"Test",
      "given_name":"Coding",
      "middle_name":""
   },
   "photos":[
      "http://todo"
   ],
   "username":"codingtest",
   "created_at":"2016-12-06T18:34:08.470Z",
   "updated_at":"2017-04-19T00:38:13.312Z"
  }
</pre>
